<h1>Nouvelle Commande !</h1>

<p>Bonjour {{ proName }},</p>

<p>Vous avez reçu une nouvelle commande de <strong>{{ candidateName }}</strong>.</p>
<p>Référence : <strong>{{ orderReference }}</strong>.</p>

<h2>À faire :</h2>
<p>
    Connectez-vous à votre espace pour valider la prise en charge et commencer la prestation.
</p>

<p>Bon courage !</p>
<p>L'équipe Casting App.</p>
